<ion-view view-title="{{title}}" class="wrapper" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a href="#/app/month/{{ previous }}"><button class="button icon ion-chevron-left"></button></a>
        <a href="#/app/month/{{ next }}"><button class="button icon ion-chevron-right"></button></a>
    </ion-nav-buttons>
    <ion-content style="background-color: #fbfbfb">
		<div class="list card">
			<div class="item item-divider item-energized">
				<i class="icon ion-alert-circled"></i>
				Denna sida är under konstruktion
			</div>
			<div class="item">
				Den kommer snart att implementeras.
			</div>
		</div>
		<div>
			<div class="row">
				<div class="col" ng-repeat="weekday in [1, 2, 3, 4, 5, 6, 7]" style="margin: 0.1em; text-align: center; font-weight: bold;">
					{{dayName(weekday)}}
				</div>
			</div>
			<div class="row" ng-repeat="week in [1, 2, 3, 4, 5]">
				<div class="col" ng-repeat="day in [1, 2, 3, 4, 5, 6, 7]" style="margin: 0.2em; padding: 0; padding-bottom: 3px; border: 1px solid #bbb; background-color: {{ week == 1 && day < 4 ? '#eee' :  'white'}}; height: 6em;" overflow-y="hidden">
					<div class="fadedbadge">{{week}}{{day}}</div>
					<br/>
					<div ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19 ]"
						style="background-color: {{ i % 2 == 0 ? '#ff0000' : '#00aaaa' }}; width: 100%; margin-left: 0; margin-right: 0; height: 3px;" ng-style="{ 'border-top': $index == 0 ? 'inherit' : '1px solid #444' }">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
