<ion-modal-view>

	<ion-header-bar style="background-color: #ff642b">
		<h1 class="title" style="color: white">{{ mapModalEvent.summary }}</h1>
		<div class="buttons">
		<button class="button button-clear" ng-click="closeXkcd()" style="color: white">Stäng</button>
    </div>
	</ion-header-bar>
    <ion-content>
		<div class="card">
		  <div class="item item-divider">
			{{data.title}}
		  </div>
		  <div class="item item-text-wrap">
			stripen
		  </div>
		</div>				
    </ion-content>
</ion-modal-view>