# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Ionics default
node_modules/
platforms/
plugins/

# Egna, superhemliga filer
keystore.txt
*.keystore
www/js/apikey.js

Store description.txt

# För Webstorm
/.idea
