<ion-view view-title="{{title}}" class="wrapper" hide-back-button="true">
    <ion-nav-buttons side="right">
        <a href="#/app/month/{{ previous }}"><button class="button icon ion-chevron-left"></button></a>
        <a href="#/app/month/{{ next }}"><button class="button icon ion-chevron-right"></button></a>
    </ion-nav-buttons>
    <ion-content style="background-color: #fbfbfb">
		<div ng-if="weeks">
			<div class="row">
				<div class="col col-10" style="text-align: center">
					v.
				</div>
				<div class="col" ng-repeat="weekday in [1, 2, 3, 4, 5, 6, 7]" style="margin: 0.1em; text-align: center; font-weight: bold;">
					{{dayName(weekday)}}
				</div>
			</div>
			<a class="row" ng-repeat="week in weeks" href="#/app/week/{{ dateFormat(week.days[0].date) }}" style="color: inherit; text-decoration: none;">
				<div class="col col-10" style="padding-top: 2.5em; text-align: center">
					{{ week.number }}
				</div>
				<div class="col" ng-repeat="day in week.days" overflow-y="hidden"
					style="margin: 0.2em; padding: 0; padding-bottom: 3px; border: 1px solid {{ day.today ? '#ff642b' : '#bbb' }}; background-color: {{ day.date.getMonth() != month - 1 ? '#eee' : (day.today ? '#ffdacc' : 'white') }}; height: 6em;">
					<div class="fadedbadge" style="margin-right: 4px">{{ day.date.getDate() }}</div>
					<br/>
					<div ng-repeat="event in day.events"
						style="background-color: {{ event.course.color || '#1954a6' }}; width: 100%; margin-left: 0; margin-right: 0; margin-top: 1px; height: 3px;">
						&nbsp;
					</div>
				</div>
			</a>
		</div>
		
		<!-- Laddningsikon -->
        <div ng-if="!weeks" style="text-align: center">
            <br /><br /><br />
            <ion-spinner class="spinner-ctfys" icon="dots"></ion-spinner>
        </div>
	</ion-content>
</ion-view>
