<ion-view view-title="Fysiksektionen">
    <ion-nav-buttons side="right">
        <button class="button icon ion-music-note" ng-click="shalalie($event)"></button>
    </ion-nav-buttons>
    <ion-content style="background-color: #fbfbfb">
        <!--<div class="row">
            <div class="col button button-ctfys" on-tap="openInBrowser('spotify:track:5TnZihe1AVVHPtgX1osH6Y')" style="margin: 5px">
                Sha-la-lie på Spotify
            </div>
            <div class="col button button-ctfys" on-tap="openInBrowser('https://youtu.be/PtBG_df3QbQ')" style="margin: 5px">
                Sha-la-lie på YouTube
            </div>
            <div class="col button button-ctfys" on-tap="openInBrowser('https://youtu.be/wzRHqOSg--s')" style="margin: 5px">
                Sha-la-lie på Nederländska
            </div>
        </div>-->
        <div ng-if="sectionRss && unionRss && kthRss && (sectionRss.length || unionRss.length || kthRss.length)">
            <div class="section-headline">
                Nyheter
            </div>
			<div class="row" ng-if="sectionRss.length">
				<div class="col card section-card" style="padding: 1em; margin-bottom: 0" on-tap="openNews(0)">
					<div class="news-type">
						Fysiksektionen
					</div>
					<div class="section-news" ng-repeat="latest in [sectionRss[0]]">
						<div class="news-title">
							{{ latest.title }}
						</div>
						<div class="news-category">
							{{ latest.category }}
						</div>
						<div ng-bind-html="replace(latest.description)" class="news-desc"></div>
						<div class="news-footer">
							{{ latest.creator}}
							<br />
							{{ dateFormat(latest.date) }}
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="unionRss.length">
				<div class="col card section-card" style="padding: 1em; margin-bottom: 0" on-tap="openNews(1)">
					<div class="news-type">
						THS
					</div>
					<div class="section-news" ng-repeat="latest in [unionRss[0]]">
						<div class="news-title">
							{{ latest.title }}
						</div>
						<div class="news-category">
							{{ latest.category }}
						</div>
						<div ng-bind-html="replace(latest.description)" class="news-desc"></div>
						<div class="news-footer">
							{{ latest.creator}}
							<br />
							{{ dateFormat(latest.date) }}
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="kthRss.length">
				<div class="col card section-card" style="padding: 1em; margin-bottom: 0" on-tap="openNews(2)">
					<div class="news-type">
						KTH
					</div>
					<div class="section-news" ng-repeat="latest in [kthRss[0]]">
						<div class="news-title">
							{{ latest.title }}
						</div>
						<div class="news-category">
							{{ latest.category }}
						</div>
						<div ng-bind-html="replace(latest.description)" class="news-desc"></div>
						<div class="news-footer">
							{{ latest.creator}}
							<br />
							{{ dateFormat(latest.date) }}
						</div>
					</div>
				</div>
			</div>
        </div>

        <div class="section-headline">
            Kalenderflöde
        </div>
		<div class="list card" ng-repeat="day in days">
			<div class="item item-divider">{{ date(day) }}</div>
			<div class="item" ng-repeat="event in day" style="padding: 0; border: 0" on-tap="openSectionEvent(event)">
				<table style="width: 100%; height: 100%;">
                    <tr>
                        <td style="width: 4px; background-color: {{ event.isOfficialEvent ? '#1954a6' : '#ff642b' }};">
                            &nbsp;
                        </td>
                        <td>
                            <div class="row">
                                <div class="col col-25 item-text-wrap" style="font-weight: bold">{{ sectionEventDuration(event) }}</div>
                                <div class="col item-text-wrap">
									{{ event.summary || event.title }}
									<br ng-if="event.description" />
									{{ event.description}}
								</div>
                            </div>
                            <div class="row" ng-if="event.location">
                                <div class="col col-25">
                                    &nbsp;
                                </div>
                                <div class="col item-text-wrap">
                                    <b ng-if="event.locations.length != 0">{{ event.location }}</b>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
			</div>
		</div>
		
		<div ng-if="!days" style="text-align: center">
            <br /><br /><br />
            <ion-spinner class="spinner-ctfys" icon="dots"></ion-spinner>
        </div>
    </ion-content>
</ion-view>
