<ion-view view-title="Bra att ha">
    <ion-content>
		<div class="card list">
			<div class="item item-divider">
				Skola
			</div>
			<a class="item item-icon-left" on-tap="openMap()">
				<i class="icon ion-map"></i>
				Karta över campus
			</a>
			<a class="item item-icon-left" ng-repeat="modalobj in extraModals.school" on-tap="openToolModal(modalobj)">
				<i class="icon {{ modalobj.icon }}"></i>
				{{ modalobj.title }}
			</a>
		</div>
		<div class="card list">
			<div class="item item-divider">
				Annat
			</div>
			<a class="item item-icon-left" on-tap="openFood()">
				<i class="icon ion-android-restaurant"></i>
				Matsedlar
			</a>
			<a class="item item-icon-left" on-tap="openXkcd()">
				<i class="icon ion-happy-outline"></i>
				xkcd
			</a>
            <a class="item item-icon-left" on-tap="openLyrics()">
                <i class="icon ion-music-note"></i>
                Sångboken
            </a>
            <a class="item item-icon-left" ng-repeat="modalobj in extraModals.other" on-tap="openToolModal(modalobj)">
                <i class="icon {{ modalobj.icon }}"></i>
                {{ modalobj.title }}
            </a>
		</div>
    </ion-content>
</ion-view>