<ion-modal-view>
	<ion-header-bar class="bar-ctfys">
		<h1 class="title">Mekanikövningar</h1>
		<div class="buttons">
		  <button class="button button-clear" ng-click="closeBackis()">Stäng</button>
		</div>
	  </ion-header-bar>
    <ion-content>
		<div style="text-align: center; padding: 1em;">
			Anteckningar gjorda av <a href="{{ backmanURL }}" target="_blank">Jonathan Backman</a>.
		</div>
		
		<div class="list">
			<div class="item item-text-wrap" ng-repeat="subject in ['Vektoralgebra och dimensionsbetraktelser', 'Kraft, kraftmoment och kraftsystem', 'Masscentrum', 'Jämvikt 2D', 'Jämvikt 3D', 'Kinematik', 'Kraftekvationen']" ng-click="openNotes(n)">
				Övning {{ $index + 1 }} - {{ subject }}
			</div>
		</div>
    </ion-content>
</ion-modal-view>