<ion-modal-view>
	<ion-header-bar class="bar-ctfys">
		<h1 class="title">Matsedlar</h1>
		<div class="buttons">
		  <button class="button button-clear" ng-click="closeFood()">Stäng</button>
		</div>
	  </ion-header-bar>
    <ion-content style="background-color: #fbfbfb" ng-controller="FoodCtrl">
		<div ng-if="menus && !unavailible">
			<div class="list card" ng-repeat="restaurant in restaurants" on-tap="openInBrowser(restaurant.url)">
				<div class="item item-divider item-icon-right">
					{{ restaurant.name }}
					<i class="icon ion-earth" style="font-size: 25px; color: #444"></i>
				</div>
				<div class="item item-text-wrap" ng-repeat="dish in menus[restaurant.shortName]" ng-bind-html="dish">
				</div>
				<div class="item item-text-wrap assertive" ng-if="!menus[restaurant.shortName] || menus[restaurant.shortName].length == 0">
					Kunde inte h&auml;mta dagens meny.
				</div>
			</div>
		</div>
		
		<div ng-if="menus && unavailible">
			<div class="list list-inset" style="margin-bottom: 15px">
				<div class="item item-divider">
					Ej tillg&auml;ngligt
				</div>
				<div class="item item-text-wrap">
					Menyerna &auml;r inte tillg&auml;ngliga under helgen. Kom tillbaka p&aring; m&aring;ndag!
				</div>
			</div>
		</div>
		
		<div ng-if="!menus" style="text-align: center">
            <br /><br /><br />
            <ion-spinner class="spinner-ctfys" icon="dots"></ion-spinner>
        </div>
    </ion-content>
</ion-modal-view>
