<ion-modal-view>
	<ion-header-bar style="background-color: #ff642b">
		<h1 class="title" style="color: white">xkcd</h1>
		<div class="buttons">
		<button class="button button-clear" ng-click="closeXkcd()" style="color: white">Stäng</button>
    </div>
	</ion-header-bar>
    <ion-content on-swipe-right="closeXkcd()">
		<div class="card list">
			<div class="item item-divider">
				{{xkcdNum}}: {{xkcdTitle}}
			</div>
            <div class="item item-image">
                <img ng-src="{{xkcdImg}}" alt="{{xkcdAlt}}" style="width: 100%" on-tap="openInBrowser(xkcdUrl)" />
            </div>
			<div class="item item-text-wrap">
			    {{xkcdAlt}}
			</div>
		</div>
        <div class="button-bar">
            <button class="button button-block" on-tap="updateXkcd(-3)" ng-if="xkcdNum != -41">
                Förra
            </button>
            <button class="button button-block" on-tap="updateXkcd(-1)">
                Slumpad
            </button>
            <button class="button button-block" on-tap="updateXkcd(-2)" ng-if="xkcdNum != -41">
                Nästa
            </button>
        </div>
    </ion-content>
</ion-modal-view>