<ion-modal-view>
	<ion-header-bar style="background-color: #ff642b">
		<h1 class="title" style="color: white">xkcd</h1>
		<div class="buttons">
		<button class="button button-clear" ng-click="closeXkcd()" style="color: white">Stäng</button>
    </div>
	</ion-header-bar>
    <ion-content>
		<div class="card">
			<div class="item item-divider">
				{{xkcdNum}}: {{xkcdTitle}}
			</div>
			<img ng-src="{{xkcdImg}}" alt="{{xkcdAlt}}" style="width: 100%" on-tap="openInBrowser(xkcdUrl)" />
			<div class="card">
			  <div class="item item-text-wrap">
				{{xkcdAlt}}
			  </div>
			</div>
		</div>
		<button class="button button-block" on-tap="updateXkcd(-1)">
			Random comic
		</button>	
    </ion-content>
</ion-modal-view>